
# Ignorar Saidas
output/*

# Ignorar pasta de teste
@tests/
tests/

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar ambiente virtual
venv/
.env

# Ignorar arquivos temporários do Excel
~$*.xlsx
