# Ignorar arquivos de saída
output/*
!output/.gitkeep

# Ignorar QR Codes
output/qrCodes/*

# Ignorar planilhas e textos gerados
*.xlsx
*.txt

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar ambiente virtual
venv/
.env

# Ignorar arquivos temporários do Excel
~$*.xlsx
